# Ignore backup files
backups/

# Ignore potentially sensitive information
**/.*_history
**/.git-credentials
**/.ssh/
**/.gnupg/

# Ignore machine-specific files
**/*.local

# Include README, LICENSE and banner image
!README.md
!LICENSE
!banner.png
